/* ===== Tetris Loader Piece Shapes (CSS Grid) ===== */
/* Pixel-perfect port from reference sandbox, colors mapped to project palette */

.iPiece {
  display: grid;
  grid-template-rows: repeat(4, 15px);
  grid-template-columns: repeat(1, 15px);
  grid-template-areas:
    "a"
    "a"
    "a"
    "a";
}
.iPiece > div {
  grid-area: a;
  background-color: var(--color-tetris-cyan, #67E8F9);
}

.jPiece {
  display: grid;
  grid-template-rows: repeat(3, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    ". a"
    ". a"
    "b b";
  width: calc(2 * 15px);
  height: calc(3 * 15px);
}
.jPiece > div:first-child {
  grid-area: a;
  background-color: var(--color-tetris-blue, #93C5FD);
}
.jPiece > div:last-child {
  grid-area: b;
  background-color: var(--color-tetris-blue, #93C5FD);
}

.lPiece {
  display: grid;
  grid-template-rows: repeat(3, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    "a ."
    "a ."
    "b b";
}
.lPiece > div:first-child {
  grid-area: a;
  background-color: var(--color-tetris-orange, #FD982E);
}
.lPiece > div:last-child {
  grid-area: b;
  background-color: var(--color-tetris-orange, #FD982E);
}

.oPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    "a a"
    "a a";
}
.oPiece > div {
  grid-area: a;
  background-color: var(--color-tetris-yellow, #FDE047);
}

.sPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    ". a a"
    "b b .";
}
.sPiece > div:first-child {
  grid-area: a;
  background-color: var(--color-tetris-green, #36EF79);
}
.sPiece > div:last-child {
  grid-area: b;
  background-color: var(--color-tetris-green, #36EF79);
}

.tPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    ". a ."
    "b b b";
}
.tPiece > div:first-child {
  grid-area: a;
  background-color: var(--color-tetris-purple, #7D53FA);
}
.tPiece > div:last-child {
  grid-area: b;
  background-color: var(--color-tetris-purple, #7D53FA);
}

.zPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    "a a ."
    ". b b";
}
.zPiece > div:first-child {
  grid-area: a;
  background-color: var(--color-tetris-pink, #F9A8D4);
}
.zPiece > div:last-child {
  grid-area: b;
  background-color: var(--color-tetris-pink, #F9A8D4);
}
